// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img_pr {
background-color: #fff;

background-image: url('nofate3.png');
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
width: 100%;
height: 100%;
 }