<div class="col-md-6 col-md-offset-3">

<div class="Jambotron">	
	
	<h1>Create your own fate!!</h1>
	<video autoplay loop muted>
			<source src="/home/anton/todoapp_5/NoFate3.webm" type="NoFate3/webm">
			<source src="/home/anton/todoapp_5/nofate4.mp4" type="nofate4/mp4">
	</video>
<!-- 	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
	<%= link_to "Log in", new_user_session_path,  class: "btn btn-primary" %>
-->
</div>

</div>